.btn {
    font-size: 100px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to left, #00B4DB, #0083B0);
    text-decoration: none;
    padding: 2px 8px;
    border-radius: 50px;
    background-size: 200%;
    transition: .4s;
  }
  .btn:hover {
    background-position: right;
  }
  