<div class="form-group row my-3 p-3">
    <label for="id_text">
      Текст поста                  
      <span class="required text-danger" >*</span>                  
    </label>
    {{ form.text }}                 
    <small id="id_text-help" class="form-text text-muted">
      Текст нового поста
    </small>                  
  </div>            
  <div class="form-group row my-3 p-3">
    <label for="id_group">
      {{ form.group}}              
    </label>
    <small id="id_group-help" class="form-text text-muted">
      Группа, к которой будет относиться пост
    </small>
  </div>