{% extends 'base.html' %}
{% block title %}
Пост {{title}}
{% endblock %}
{% block content %}
  <title>Пост {{title}}</title>
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ posts.pub_date|date:"d E Y" }}
            </li>
            {%if posts.gorup %}  
              <li class="list-group-item">
                Группа: {{posts.group.title}}
                <a href="{% url 'posts:group_list' posts.group.slug %}">
                  все записи группы
                </a>
              </li>
              {% endif %}
              <li class="list-group-item">
                Автор: {{ posts.author.get_full_name }}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{posts_count}}</span>
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' posts.author.username %}">
                все посты пользователя
              </a>
            </li>
            <a class="nav-link" href="{% url 'posts:post_create' %}">Редактировать запись</a>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
          {{posts.text}}
          </p>
        </article>
{% endblock %}